<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/applynow2.css">
    <link rel="icon" href="/static/images/intern.jpg"></link>
    <title>Apply now : Internshala.com</title>
</head>
<title>Applynow</title>
<body>

        <!-- nav -->
<div class="navbar">
 
    <div class="logo">
    <img src="https://internshala.com/static/images/common/new_internshala_logo.svg" style="width: 100px "></div>
    
      <div class="clear"></div>
      <a href="/users/indexx" class="wel" onclick="logout()">LOGOUT</a>
  <a href="/users/homereal" >Fresher jobs</a>
  <div class="dropdown">
    <button class="dropbtn">Online Trianings<span> offers</span>
              <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/users/tej">Programming</a>
        <a href="/users/tej">Core Engineering</a>
        <a href="/users/tej">Data Science</a>
        <a href="/users/tej">Design</a>
      </div>
    </div> 
  <div class="dropdown">
    <button class="dropbtn">Internships
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/users/homereal">Work From Home</a>
        <a href="/users/homereal">profille</a>
        <a href="/users/homereal">category</a>
      </div>
    </div> 
</div>
<!-- //nav -->
    <div id="submit-page">
    <div>
        <img class="sub" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8kK8ghKw7KxWNXLqZUQ1QZQQng4Bno1SmHg&usqp=CAU" alt="Successfull">
    </div>
    <div>
        <h2 class="title">Your application has been submitted!</h2>
        <p class="sub-title">You can track its status on your dashboard</p>
    </div>
    <button class="btn">
        <a class="link" href="/users/homereal">Go to homepage</a>
    </button>
</div>
</body>
</html>
    <script src="/static/js/search.js"></script>