body{
    background-image: url("/static/images/studentback.png");
    margin: 0px;
    
}

.box{
    height: 450px;
    width: 400px;
position: absolute;
border-radius: 10px;
margin: 130px 50% 100px 38%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding-top: 40px;
background-color: white;
}a{
color: #00a5ec;
text-decoration: none;
}
.google{
margin: auto;
border: 1px solid gray;
width: 320px;
height: 25px;
border-radius: 3px;
font-weight: bold;
padding: 5px;
text-align: center;
color: #575757;
border: 1px solid #c2b7b7;

}input{
border: 1px solid #c2b7b7;
} .sign {
text-decoration: none;
color: white;
background-color:#00a5ec ;
border: 2px solid #00a5ec;
border-radius: 3px;
margin-left: 25px;
width: 350px;
height: 33px;
font-size: 15px;
font-weight: bold;
margin-bottom: 15px;
margin-top: -8px;
}.sign a{
color: white;

}
.left{
height: 610px;
width: 930px;
background-color: yellow;
float: left;
margin-top: 2px;
background-image: url("file://localhost/C:/Users/shree/Downloads/IMG_20210826_103521.jpg");
}.terms{
float: right;
margin-right: 23px;
font-size: 17px;
}