#box{
    margin: auto;
    margin-top: 60px;
    background-color: rgb(236, 231, 231);
    height: 460px;
    width: 420px;
    padding: 30px;
}.img1{
    width: 100px;
    height: 100px;
    margin-top:20px ;
    margin-left: 155px;

}.p1{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
}.p2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 75px;
}.p3{
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}.btn{
    height: 55px;
    width: 250px;
    margin-left: 85px;
    background-color:rgb(50, 143, 219) ;
    font-size: 17px;
    padding: 9px;
    font-weight: bold;
    border-radius: 4px;
    
    
}.btn a{
    background-color: rgb(50, 143, 219);
    color: white;
    border: 1x solid rgb(50, 143, 219) ;
}.img2{
    width:190px;
    height: 70px;
    margin-left: 810px;
    margin-top: 10px;
}