body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 255, 255);
    margin: 0px 0px;
  }
  
  .navbar {
    overflow: hidden;
    background-color:white;
    box-shadow: 0 2px 3px -1px rgb(175, 169, 169);
    height: 100px;
    margin-top: -10px;
  }
  .logo{
      float: left;
    text-align: center;
    padding: 2px 3px;
   text-decoration: none;
   margin-left: 120px;
   /* padding-top: 10px; */
  
  }
  .logo img{
    size: 40px;
    padding-top: 20px;
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-top: -24px;
   
  }.dropbtnn{
      margin-right: 180px;
      font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-top: -24px;
  }
  
   .dropdown:hover .dropbtn {
  color:blue;
  border-bottom: 2px solid blue;
  
  }
  .navbar a:hover{
    color: blue;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e9e0e0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  
  
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  span{
    background-color: orange;
    border-radius: 20%;
    padding: 4px 5px;
  }.register{
    border: 1px solid #00a5ec;
    color: white;
    background-color: #00a5ec;
  border-radius: 4px;
  height: 30px;
  font-weight: bold;
  margin-right: 160px;
  width: 110px;
  font-size: 15px;
  margin-top: 10px;
  
  }.box{
      height: 450px;
      width: 380px;
      margin-left: 65%;
      margin-top: 50px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding-top: 40px;
      background-color: white;
  }a{
      color: #00a5ec;
      text-decoration: none;
  }
  .google{
      margin: auto;
      border: 1px solid gray;
      width: 320px;
      height: 25px;
      border-radius: 3px;
      font-weight: bold;
      padding: 5px;
      text-align: center;
      color: #575757;
      border: 1px solid #c2b7b7;
  
  }input{
      border: 1px solid #c2b7b7;
      padding-left: 10px;
      margin-bottom: 50px;
  } .sign {
   text-decoration: none;
   color: white;
   background-color:#00a5ec ;
   border: 2px solid #00a5ec;
   border-radius: 3px;
   margin-left: 25px;
   width: 315px;
   height: 33px;
   font-size: 15px;
   font-weight: bold;
   margin-bottom: 10px;
   margin-top: -8px;
  }.sign a{
    color: white;
  
  }
  .left img{
    height: 637px;
    width: 930px;
    background-color: yellow;
    float: left;
    margin-top: 2px;
  }.mat{
      margin-left: 25px;
  }.mat1{
    float: left;margin-left: 23px;color: #484848;
  }