<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Users Page</title>
</head>
<body>
    <h1>Add an user</h1>
    <form action="/users/add" method="post">
    <input type="text" name="first_name" placeholder="first name" required/>
    <input type="text" name="last_name" placeholder="last name" required/>
    <input type="email" name="email" placeholder="email" required/>
    <button type="submit" name="submit">Add Users</button>
    </form>

</body>
</html>