<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/grid.css">
<link rel="stylesheet" href="/static/css/employer.css">
<link rel="icon" href="/static/images/intern.jpg"></link>
<title>Employer Signup : Internshala.com</title>

</head>
<body>
<div class="navbar">
  
    <div class="logo">
    <img src="https://internshala.com/static/images/common/new_internshala_logo.svg" style="width: 100px "></div>
    

      <div class="clear"></div>
      <div class="dropdown">
      
        <button class="dropbtnn">Login/Register
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/users/login">Login</a>
          <a href="/users/signup">Register as a student</a>
          <a href="/users/employer">Register as a employer</a>
        </div>
      </div> 
  <div class="dropdown">
    <a href="../Homepage/homepage1.html" style="  margin-top: -14px;">Online Trainings   <i class="fa fa-caret-down"></i></a>
    <div class="dropdown-content">
        <a href="../Homepage/homepage1.html">Programming</a>
        <a href="../Homepage/homepage1.html">Core Engineering</a>
        <a href="../Homepage/homepage1.html">Data Science</a>
        <a href="../Homepage/homepage1.html">Design</a>
  
      </div>

</div>



  <div class="dropdown">
    <button class="dropbtn"><a href="/static/homepage1.html"> Post Fresher Job<span>NEW</span></a>
              
      </button>
     
    </div> 
  <div class="dropdown">
    <button class="dropbtn"><a href="/static/homepage1.html">Post Internships</a> 
      </button>
      
    </div> 
</div>

<div class="left">
  <img src="/static/images/studentback.png" >
</div>

<div class="box">
  <form action="/users/employer" method="post">
   
    <label class="mat">Official Email Id</label>
    <input name="email" type="email" placeholder="name@comapny_name.com" style="width: 85%;height: 35px;margin-top: 5px;margin-left: 25px;margin-bottom: 15px;" id="email">
    <label class="mat">Password</label>
    <input type="password" name="password" placeholder="Must be atleast 6 characters" style="width: 85%;height: 35px;margin-top: 5px;margin-left: 25px;margin-bottom: 15px;" id="pass">
    <label class="mat">Your First Name</label>
    <label style="margin-left: 55px;">Your Last Name</label>
    <input name="first_name" type="text" placeholder="Your First Name" style="width: 39%;height: 35px;margin-top: 5px;margin-left: 25px;margin-bottom: 15px;" id="first">
    <input name="last_name" type="text" placeholder="Your Last Name" style="width: 39%;height: 35px;margin-top: 5px;margin-left: 17px;" id="last">
    <h5 class="mat1">By registering, you agree to our &nbsp<h5 class="terms"><a href="https://internshala.com/terms#student">Terms and conditions.</a> </h5></h5>
    <button class="sign"><a href="/users/login" onclick="savedata()">Register Now</a> </button>
     <label style="margin-left: 130px;"><a href="https://internshala.com/employer/help_center_faq/16">Have a question?</a> </label>
 </form>
    </div>


  <div class="parent">
    <div>
        <h3>Internships by places</h3>
        <h4>Internship in India</h4>
        <h4>Internship in Delhi</h4>
        <h4>Internship in Bagalore</h4>
        <h4>Internship in Hyderabad</h4>
        <h4>Internship in Mumbai</h4>
        <h4>Internship in Chennai</h4>
        <h4>Internship in Gurgaon</h4>
        <h4>Internship in Kolkata</h4>
        <h4>Virtual Internship </h4>
    </div>

    <div>
        <h3>Internship by Stream</h3>
        <h4>Computer Science Internship</h4>
        <h4>Electronics Internship</h4>
        <h4>Mechanical Internship</h4>
        <h4>Civil Internship</h4>
        <h4>Marketing Internship</h4>
        <h4>Chemical Internship</h4>
        <h4>Finance Internship</h4>
        <h4>Summer Research Fellowship</h4>
        <h4>Campus Ambassador Program</h4>
    </div>

    <div>
        <h3 class="offer">Online Trainings</h3>
        <h4>Programming with Python</h4>
        <h4>Digital Marketing </h4>
        <h4>Web Development
        </h4>
        <h4>Machine Learning
        </h4>
        <h4>Advanced Excel
        </h4>
        <h4>Ethical Hacking</h4>
        <h4>AutoCAD
        </h4>
        <h4>Creative Writing</h4>
        <h4>Data Science</h4>
    </div>

    <div>
        <h3>About Internshala</h3>
        <h4>About us</h4>
        <h4>We're hiring</h4>
        <h4>Hire interns for your company</h4>
        <h4>Team Diary</h4>
        <h4>Blog</h4>
        <h4>Our Services</h4>
        <h4>Terms & Conditions</h4>
        <h4>Privacy</h4>
        <h4>Contact us</h4>
    </div>
</div>
<hr class="hr">
<div class="play"><i class="fab fa-google-play fa-2x" style="color: white;margin-top: 10px;"></i>
    <a href="https://play.google.com/store/apps/details?id=com.internshala.app&referrer=utm_source%3Dplay_footer" class="playy"> Get Android App</a>
    </div>

   <div class="icon">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x" id="ic1" ></i></a>
    <a href="twitter.com"> <i class="fab fa-twitter fa-2x"id="ic"></i></a>
    <a href="youtube.com"><i class="fab fa-youtube fa-2x" id="ic"></i></a>
    <a href="linkedin.com"> <i class="fab fa-linkedin-in fa-2x" id="ic"></i></a>
</div>
<h4 class="copy">© Copyright 2021 Internshala</h4>
</div>
</body>
</html>
<script
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      data-auto-a11y="true"
    ></script>
    <script src="/static/js/signup.js"></script>
    