<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//Homepage/grid.css">
    <link rel="stylesheet" href="..//Homepage/homenav.css">
    <link rel="stylesheet" href="/static/css/sorting.css">
    <link rel="stylesheet" href="/static/css/grid.css">
    <link rel="icon" href="/static/images/intern.jpg"></link>
    <title>Internshala : Internshala.com</title>
</head>


<body>
    <div class="navbar">
 
        <div class="logo">
        <img src="https://internshala.com/static/images/common/new_internshala_logo.svg" style="width: 100px "></div>
        
          <div class="clear"></div>
          <a href="/users/indexx" class="wel" onclick="logout()">LOGOUT</a>
      <a href="/users/homereal" style="margin-top: -15px;">Fresher jobs</a>
      <div class="dropdown">
        <button class="dropbtn">Online Trianings<span> offers</span>
                  <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/users/tej">Programming</a>
            <a href="/users/tej">Core Engineering</a>
            <a href="/users/tej">Data Science</a>
            <a href="/users/tej">Design</a>
          </div>
        </div> 
      <div class="dropdown">
        <button class="dropbtn">Internships
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/users/homereal">Work From Home</a>
            <a href="/users/homereal">profille</a>
            <a href="/users/homereal">category</a>
          </div>
        </div> 
    </div>
    <!-- nav -->
    <div id="work">   
        <div class="box-sec  Marketing mark1">
            <div>
            <h2 class="box-head-sec">Business Research</h2>
            <h4>Work from Home</h4>
            </div>
            <p class="content-sec"> Architecture</p>
            <div class = "period">
                    <div class="info-time">
                        <p>START DATE</p>
                        <p>Immediatly</p>
                    </div>
                    <div class="info-time">
                        <p>DURATION</p>
                        <p>2 Months</p>
                    </div>
                    <div class="info-time">
                        <p> <img src="">STIPEND</p>
                        <p>₹ 1000/month</p>
                    </div>
                    <div class="info-time">
                        <p>APPLY BY</p>
                        <p>10-Oct-21</p>
                    </div>
            </div>
            <div class = "rad-sec">Internship</div>
            <a class="en-sec" href="/users/applynow">View Details ></a>
        </div>


        
                 
        <div class="box-sec  Marketing mark2">
            <div>
            <h2 class="box-head-sec">Digital Marketing</h2>
            <h4>Pune</h4>
            </div>
            <p class="content-sec"> Marketing</p>
            <div class = "period">
                    <div class="info-time">
                        <p>START DATE</p>
                        <p>Immediatly</p>
                    </div>
                    <div class="info-time">
                        <p>DURATION</p>
                        <p>1 Month</p>
                    </div>
                    <div class="info-time">
                        <p> <img src="">STIPEND</p>
                        <p>₹ 1500/month</p>
                    </div>
                    <div class="info-time">
                        <p>APPLY BY</p>
                        <p>15-Oct-21</p>
                    </div>
            </div>
            <div class = "rad-sec">Internship</div>
            <a class="en-sec" href="/users/applynow">View Details ></a>
        </div>
             
        <div class="box-sec  Marketing mark3">
            <div>
            <h2 class="box-head-sec">Business Development</h2>
            <h4>Delhi</h4>
            </div>
            <p class="content-sec">Sales</p>
            <div class = "period">
                    <div class="info-time">
                        <p>START DATE</p>
                        <p>Immediatly</p>
                    </div>
                    <div class="info-time">
                        <p>DURATION</p>
                        <p>2 Months</p>
                    </div>
                    <div class="info-time">
                        <p> <img src="">STIPEND</p>
                        <p>₹ 1000/month</p>
                    </div>
                    <div class="info-time">
                        <p>APPLY BY</p>
                        <p>10-Oct-21</p>
                    </div>
            </div>
            <div class = "rad-sec">Internship</div>
            <a class="en-sec" href="/users/applynow">View Details ></a>
        </div>
             
        <div class="box-sec  Marketing mark4">
            <div>
            <h2 class="box-head-sec"> Fronted Web Development</h2>
            <h4>Gurgaon</h4>
            </div>
            <p class="content-sec"> Web Development</p>
            <div class = "period">
                    <div class="info-time">
                        <p>START DATE</p>
                        <p>Immediatly</p>
                    </div>
                    <div class="info-time">
                        <p>DURATION</p>
                        <p>4 Months</p>
                    </div>
                    <div class="info-time">
                        <p> <img src="">STIPEND</p>
                        <p>₹ 1000/month</p>
                    </div>
                    <div class="info-time">
                        <p>APPLY BY</p>
                        <p>20-Oct-21</p>
                    </div>
            </div>
            <div class = "rad-sec">Internship</div>
            <a class="en-sec" href="/users/applynow">View Details ></a>
        </div>
        </div>          
</div>      
<!-- grid -->
<div class="parent">
    <div>
        <h3>Internships by places</h3>
        <h4>Internship in India</h4>
        <h4>Internship in Delhi</h4>
        <h4>Internship in Bagalore</h4>
        <h4>Internship in Hyderabad</h4>
        <h4>Internship in Mumbai</h4>
        <h4>Internship in Chennai</h4>
        <h4>Internship in Gurgaon</h4>
        <h4>Internship in Kolkata</h4>
        <h4>Virtual Internship </h4>
    </div>

    <div>
        <h3>Internship by Stream</h3>
        <h4>Computer Science Internship</h4>
        <h4>Electronics Internship</h4>
        <h4>Mechanical Internship</h4>
        <h4>Civil Internship</h4>
        <h4>Marketing Internship</h4>
        <h4>Chemical Internship</h4>
        <h4>Finance Internship</h4>
        <h4>Summer Research Fellowship</h4>
        <h4>Campus Ambassador Program</h4>
    </div>

    <div>
        <h3 class="offer">Online Trainings</h3>
        <h4>Programming with Python</h4>
        <h4>Digital Marketing </h4>
        <h4>Web Development
        </h4>
        <h4>Machine Learning
        </h4>
        <h4>Advanced Excel
        </h4>
        <h4>Ethical Hacking</h4>
        <h4>AutoCAD
        </h4>
        <h4>Creative Writing</h4>
        <h4>Data Science</h4>
    </div>

    <div>
        <h3>About Internshala</h3>
        <h4>About us</h4>
        <h4>We're hiring</h4>
        <h4>Hire interns for your company</h4>
        <h4>Team Diary</h4>
        <h4>Blog</h4>
        <h4>Our Services</h4>
        <h4>Terms & Conditions</h4>
        <h4>Privacy</h4>
        <h4>Contact us</h4>
    </div>
</div>
<hr class="hr">
<div class="play"><i class="fab fa-google-play fa-2x" style="color: white;margin-top: 10px;"></i>
    <a href="https://play.google.com/store/apps/details?id=com.internshala.app&referrer=utm_source%3Dplay_footer" class="playy"> Get Android App</a>
    </div>

   <div class="icon">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x" id="ic1" ></i></a>
    <a href="twitter.com"> <i class="fab fa-twitter fa-2x"id="ic"></i></a>
    <a href="youtube.com"><i class="fab fa-youtube fa-2x" id="ic"></i></a>
    <a href="linkedin.com"> <i class="fab fa-linkedin-in fa-2x" id="ic"></i></a>
</div>
<h4 class="copy">© Copyright 2021 Internshala</h4>
</div>
</body>
<script
  src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
  data-auto-a11y="true"
></script>
</body>
</html>